{{define "desc"}}<amp-list id="coin-desc" layout="responsive" height="80" width="320" src="amp-state:coin" items= "." single-item class="m1">
    <template type="amp-mustache"  id="coin-desc">
        <div class="flex flex-col">
            <h3 class="pnlhd pnlh text-xl py-4"><i class="fas fa-network-wired mr-2 pl-4 text-2xl"></i>{{`{{name}}`}} Description</h3>
            <div class="flex flex-col flex-1 p-6 text-xl">
                {{`{{{description}}}`}}</div>
        </div>
</template></amp-list>{{end}}
