{{define "grfx"}}
<div class="pnl ">
<h3>{{.Coin}} Graphics</h3>
<amp-img src="//img.okno.rs/coins/16/{{.Slug}}16.png" alt="{{.Coin}}"  width="16"  height="16"  layout="fixed"  class="m1"><noscript><img src="//img.okno.rs/coins/16/{{.Slug}}16.png" width="16" height="16" alt="{{.Coin}}"></noscript></amp-img>
<amp-img src="//img.okno.rs/coins/32/{{.Slug}}32.png" alt="{{.Coin}}"  width="32"  height="32"  layout="fixed"  class="m1"><noscript><img src="//img.okno.rs/coins/32{{.Slug}}32.png" width="32" height="32" alt="{{.Coin}}"></noscript></amp-img>
<amp-img src="//img.okno.rs/coins/64/{{.Slug}}64.png" alt="{{.Coin}}"  width="62"  height="64"  layout="fixed"  class="m1"><noscript><img src="//img.okno.rs/coins/64/{{.Slug}}64.png" width="64" height="64" alt="{{.Coin}}"></noscript></amp-img>
<amp-img src="//img.okno.rs/coins/128/{{.Slug}}128.png" alt="{{.Coin}}"  width="128"  height="128"  layout="fixed"  class="m1"><noscript><img src="//img.okno.rs/coins/128/{{.Slug}}128.png" width="128" height="128" alt="{{.Coin}}"></noscript></amp-img>
<amp-img src="//img.okno.rs/coins/256/{{.Slug}}256.png" alt="{{.Coin}}"  width="256"  height="256"  layout="fixed"  class="m1"><noscript><img src="//img.okno.rs/coins/256/{{.Slug}}256.png" width="256" height="256" alt="{{.Coin}}"></noscript></amp-img>
</div>
{{end}}