{{define "amp"}}<!doctype html><html amp lang="en"><head><meta charset="utf-8">{{ template "head" .}}</head>
<body>{{template "sidebar" .}}<div class="min-h-screen flex flex-col justify-between dark antialiased sm:text-md md:text-lg lg:text-lg xl:text-xl">{{ template "main" .}}</div>{{template "autosuggest" .}}</body></html>{{end}}
