{{define "html"}}<!doctype html><html lang="en"><head><meta charset="utf-8">{{ template "head" .}}</head><body>
<div class="min-h-screen flex flex-col justify-between">{{ template "main" .}}</div>{{template "autosuggest" .}}</body></html>{{end}}
